<h1>Stupid Coaching</h1>
<div class="question-div">
  <p><%= @question %></p>
  <p> - You </p>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <p><er> - Your Coach</er></p>
</div>

<%= link_to "Ask a new quesion", ask_path %>
